<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bowen.shop.dao.GoodsStockMapper">
    <update id="deductStock" parameterType="com.bowen.shop.api.entity.GoodsIdAndNumber">
        UPDATE GOODS
        SET STOCK = STOCK - #{number}
        WHERE ID = #{id}
          AND STATUS = 'ok'
          AND STOCK >= #{number}
    </update>
</mapper>
